{% load static %}
<html>

<head>
	<title>
		{% block title %}{% endblock%}
	</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/app.css' %}"> {% block styles %}{% endblock %}
</head>

<body>
	{% block nav %}
		{% include "navbar.html" %}
	{% endblock %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
				<h5>Classrooms</h5>
				<!--if naay classroom-->
				{% if records|length > 0 %}
					{% for record in records %}
					<ul class="nav nav-sidebar">
						<li><a href="{% url 'classroom:forum' record.classroom.pk %}">{{record.classroom.name}}</a></li>
					</ul>
					{% endfor %}
				<!--if wala-->
				{% else %}
					<p style="color:dimgray" id="textshit">You have no classrooms</p>
					<div id="addclassroom" style="display:none">
						<form action="">
							<div class="form-group">
								<input type="text" class="form-control" id="classroom" placeholder="Classroom" name="classroom">
							</div>
							<button class="btn btn-primary btn-block">Add Classroom</button>
						</form>
					</div>
					<button class="btn btn-default btn-block" id="hide">Add Classroom</button>
				{% endif %}
			</div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<!--main.html-->
				{% block content %}{% endblock %}
			</div>
		</div>
	</div>
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/bootstrap.js' %}"></script>
	<script src="{% static 'js/app.js' %}"></script>
</body>

</html>