{% extends "base.html" %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block login %}
<div class="site-wrapper">
	<div class="site-wrapper-inner">
		<div class="cover-container">

			<div class="masthead clearfix">
				<div class="inner">
					<h1 class="masthead-brand" style="font-size:3em">Logo</h1>
				</div>
			</div>

			<div class="inner cover">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-3"></div>
					<div class="col-lg-6 col-md-6 col-sm-6">
						<div class="thumbnail">
							<div class="caption">
								<div class="container-fluid">
								<h2>Sign Up</h2>
								<form action="/action_page.php">
                  <div class="form-group">
										<input type="text" class="form-control" id="username" placeholder="Username" name="email">
									</div>
									<div class="form-group">
										<input type="email" class="form-control" id="email" placeholder="New email" name="email">
									</div>
									<div class="form-group">
										<input type="password" class="form-control" id="pwd" placeholder="New password" name="pwd">
									</div>
									<button type="submit" class="btn btn-primary">Sign Up</button>
								</form>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3"></div>
				</div>
				<p style="color: rgba(255, 255, 255, .5);">New here? <a href="">Sign Up</a>.</p>
			</div>

			<div class="mastfoot">
				<div class="inner">
					<p>Made with <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> by <a href="http://fb.com/rdatibula">Romy</a>,
						<a href="http://fb.com/generildls">Generil</a> and <a href="http://fb.com/jams.salvacion">Alfi</a></p>
				</div>
			</div>

		</div>
	</div>
</div>
{% endblock %}