<!-- <h5>Classrooms</h5> -->
<!--if naay classroom-->
{% if records|length > 0 %}
    <ul class="nav nav-sidebar">
        <li style="border-bottom: 1px solid grey"><a class="side" href="/" style="font-weight:bold"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;HOME</a></li>
        {% for record in records %}
            {% if classroom.pk == record.classroom.pk %}
               <li><a class="side" href="{% url 'classroom:forum' record.classroom.pk %}" style="background-color:#ABCB38; color: #fff; font-weight: bold;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{record.classroom.name}}</a></li>
            {% else %}
               <li><a class="side" href="{% url 'classroom:forum' record.classroom.pk %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{record.classroom.name}}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
<!--if wala-->
{% else %}
    <p style="color:dimgray" id="textshit">You have no classrooms</p>
{% endif %}

<div id="addclassroom" style="display:none">
    <form action="{% url 'classroom:add_classroom' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" class="form-control" id="classroom" placeholder="Classroom" name="name">
        </div>
        <button class="btn btn-primary btn-block">Add Classroom</button>
    </form>
</div>
<button class="btn btn-default btn-block" id="hide">Add Classroom</button>