{% extends "home.html" %}

{% block content %}
<ul class="nav nav-pills" style="margin-bottom: 20px;">
    <li class="active"><a data-toggle="pill" href="#forum">Forums</a></li>
    <li><a href="{% url 'classroom:topic' classroom.pk %}">Topics</a></li>
</ul>

<div class="tab-content">
    <div id="forum" class="tab-pane fade in active">
		<div class="row">
			<div class="col-lg-8 col-md-8">
				{% if posts|length == 0 %}
				<h1>No posts</h1>
				{% else %}
					<div class="row">
						{% for post in posts %}
							<div class="panel panel-default">
								<div class="panel-heading" style="padding-bottom:5px; padding-top:5px;">
									<p style="margin-bottom:0px;">	
									<img class="center-cropped" src="{{ post.user.profile.avatar.url }}" width="23px" height="23px" style="border:none; margin-top: 3; margin-bottom: 5;">  {{post.user.username}}</p>
								<h5 style="padding-top: 5px; padding-bottom: 5px; margin: 0;"><small style="color:darkgray"> {{ post.date_created }}</small></h5>
								</div>
								<div class="panel-body">
									<h3 style="margin-top:0px; font-weight:bold; word-wrap: break-word;">{{ post.title }}</h3>
									<p style="word-wrap: break-word">{{post.content}}</p><br>
									<!-- {% if post.file != '' %} -->
									<p><a href="{{post.file.url}}">
									{% if post.filetype != 'jpg' %}
									<img src="/storage/attachment.png" width="50px" height="50px" style="border:none; margin-top: -10; margin-bottom: -7;">
									<br><br>
																		<small>{{ post.file.name }}</small>
									</a>
									{% else %}
									<img src="{{ post.file.url }}"  style="border:none; margin-top: 3; margin-bottom: 5; max-width: 500; max-height: 500">
									<br>
									<small>{{ post.file.name }}</small>
									</a>
									{% endif %}
									</p>
									<br>
									<!-- {% endif %} -->
									
								</div>
								<div class="panel-footer">
									<button class="btn btn-xs btn-primary">
										<span class="glyphicon glyphicon-thumbs-up"></span>
										<span> {{post.upvote}}</span>
									</button>
								</div>
							</div>
						{% endfor %}
					</div>
				{% endif %}
			</div>
			<div class="col-lg-4 col-md-4">
				<p style="font-weight:bold">POST TO {{classroom.name.upper}}</p>
				<form action="{% url 'classroom:post_on_forum' classroom.pk %}?next={{ request.path }}" method="POST" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="form-group">
						<input type="text" class="form-control" name="title" placeholder="Title" required>
					</div>
					<div class="form-group">
						<textarea name="content" id="" cols="10" rows="3" class="form-control" placeholder="Content" required></textarea>
					</div>
					<div class="form-group">
						<label class="btn btn-primary btn-block" for="my-file-selector" style="margin-bottom:10px;">
							<input id="my-file-selector" type="file" style="display:none;" name = "file" onchange="$('#upload-file-info').html($(this).val());">
							Attach File
						</label>
						<div style="text-align:center">
							<small id="upload-file-info"></small>
						</div>
					</div>
					<button class="btn btn-sm btn-default btn-block" type="submit">POST</button>
				</form>
				<hr>
				{% if error %}
					<p style="color: red;">{{error}}</p>
				{% elif success %}
					<p style="color: green;">{{success}}</p>
				{% endif %}
				<p style="font-weight:bold">ADD MEMBER</p>
				<form action="{% url 'classroom:add_member' classroom.pk %}" method="POST">
					{% csrf_token %}
					<div class="input-group">
						<span class="input-group-addon" id="sizing-addon2">@</span>
						<input type="text" class="form-control" placeholder="Add your friends" name="username" required>
						<span class="input-group-btn">
							<button class="btn btn-primary" type="submit">Add</button>
						</span>
					</div>
				</form>
			</div>
		</div>
    </div>
</div>

{% endblock %}